.header-text {
  text-align: left;
  font: 15px sans-serif;
  font-weight: bold;
}

/* .dropdown-text {
  text-align: right;
  font: 14px sans-serif;
} */

#chart-area {
  height: inherit;
}
.path-hover {
  cursor: pointer;
}

.axis {
  font-size: 13px;
}

.section-heading {
  font-weight: bold;
}

.dropdownMenu {
  width: 100px;
  text-align: right;
  float: right;
}
